<div class="card w-96 bg-base-100 shadow border border-white/10 backdrop-blur-md bg-white/5">
    <div class="card-body text-center">
        <div class="text-6xl text-error mb-4">
            <i class="ri-error-warning-fill"></i>
        </div>
        <h2 class="card-title justify-center text-2xl font-bold mb-2">Failed!</h2>
        <p class="text-gray-400 mb-6">
            <%= message %>
        </p>

        <div class="card-actions justify-center">
            <a href="/register" class="btn btn-outline btn-error w-full">Try Again</a>
        </div>
    </div>
</div>